@import "assets/styles/colors.scss";
@import "assets/styles/mixins.scss";

.security{
  .welcomeTitle{
    margin: 60px 0 30px;
  }

  .securityInner {
    max-width: 548px;
    width: 95%;
    padding: 64px;
    border-radius: 12px;
    margin: 0 auto;
    border: 1px solid $primary-border-grey;
    .securityTitle {
      color: $color-primary;
      text-align: center;
      margin-bottom: 30px;
    }
    .passwordreset{
    border: 1px solid $primary-border-grey;
    border-radius: 12px;
    width: 420px;
    height: 88px;
    color: $color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    margin-bottom: 24px;
    }
    @include mediaQuery(767px) {
      padding: 20px;
    }
    .visibilityIcon {
      svg > * {
        fill: $color-primary;
      }
    }
    .primaryLink{
      @include FontStyle(12, 16, 400);
    }
    .rememberText {
      .MuiFormControlLabel-label{
        @include FontStyle(12, 16, 400);
      }
    }
  }
  .LoginBtn {
    width: 100%;
    padding: 13.5px;
    border: 1px solid $borderColor;
    border-radius: 5px;
    @include FontStyle(14, 18, 700);
    img {
      margin-right: 10px;
    }
  }
}
