@import "./../../assets/styles/colors.scss";
@import "./../../assets/styles/mixins.scss";

.loginWrap {
  max-width: 548px;
  width: 100%;
  padding: 64px;
  border-radius: 12px;
  margin: 0 auto;
  border: 1px solid $primary-border-grey;
  .loginTitle {
    color: $color-primary;
    text-align: center;
  }
  @include mediaQuery(767px) {
    padding: 20px;
  }
  .visibilityIcon {
    svg > * {
      fill: $color-primary;
    }
  }
}
.LoginBtn {
  width: 100%;
  padding: 13.5px;
  border: 1px solid $borderColor;
  border-radius: 5px;
  @include FontStyle(12, 18, 700);
  img {
    margin-right: 10px;
  }
}
