@import "assets/styles/colors.scss";
@import "assets/styles/mixins.scss";

.login2FA{
    margin-top: 40px;
  .login2FAInner {
    max-width: 578px;
    width: 95%;
    padding: 64px;
    border-radius: 12px;
    margin: 0 auto;
    border: 1px solid $primary-border-grey;
    .login2FATitle {
      color: $color-primary;
      text-align: center;
      margin-bottom: 32px;
    }
    @include mediaQuery(767px) {
      padding: 20px;
    }

    .Avatar{
      width: 80px;
      height: 80px;
      background-color: $primary-background;
      @include FontStyle(25, 30, 400);
      border:1px solid $borderColor;
      margin:0 auto 5px;
    }
    .stack{
        justify-content: center;
    }
  }
  .LoginBtn {
    width: 100%;
    padding: 13.5px;
    border: 1px solid $borderColor;
    border-radius: 5px;
    @include FontStyle(14, 18, 700);
    img {
      margin-right: 10px;
    }
  }
}
