@import "assets/styles/colors.scss";
@import "assets/styles/mixins.scss";

.forgotNoUser{
  margin-top: 60px;
  @include mediaQuery(767px) {
    margin-top: 20px;
  }
  .welcomeTitle{
    margin-bottom: 30px;
    @include mediaQuery(767px) {
      margin-bottom: 15px;
    }
  }
  .forgotNoUserInner {
    max-width: 548px;
    width: 95%;
    padding: 64px;
    border-radius: 12px;
    margin: 0 auto;
    border: 1px solid $primary-border-grey;
    .loginTitle {
      color: $color-primary;
      text-align: center;
      margin-bottom: 25px;
      @include mediaQuery(767px) {
        margin-bottom: 15px;
      }
    }
    @include mediaQuery(767px) {
      padding: 20px;
    }
  }
}
