@import "assets/styles/colors.scss";
@import "assets/styles/mixins.scss";

.securityAuth{
    .securityInner {
      max-width: 573px;
      width: 95%;
      padding: 64px;
      border-radius: 12px;
      margin: 0 auto;
      border: 1px solid $primary-border-grey;
      .securityTitle {
        color: $color-primary;
        text-align: center;
        margin-bottom: 30px;
      }
      .authMessage{
        @include FontStyle(14, 18, 500);
      }
      .texGray{
          margin-bottom: 45px;
      }
    }
    .LoginBtn {
      width: 100%;
      padding: 13.5px;
      border: 1px solid $borderColor;
      border-radius: 5px;
      @include FontStyle(14, 18, 700);
      img {
        margin-right: 10px;
      }
    }
}
