@import "../../../assets/styles/base.scss";

.density{
    &-appbar{
        box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.05);
    }

    &-navbar{
        color: transparent;
    }

    &-toolbar{
        background-color: $primary-background;
        display: flex;
    }

    &-toolbar-text{
        @extend .font-bold;
        @include centre-align();
    }
    &-toolbar-icons{
        color: $header-text-color;
        margin-left: auto;
     }
    &-toolbar-icon{
       color: $header-text-color;
    }
}
