// Colors
$primary-background: #101010;
$primary-border-grey: #4F4F4F;
$header-text-color: #F2F2F2;
$density-gradient:  linear-gradient(90deg, #36D1DC 0%, #5B86E5 100%);
$color-primary: #ffffff;
$color-link:#5B86E5;
$borderColor:#FCFCFC;
$textSecondary:#BDBDBD;
$color-error:#F46151;
$color-success: #2FDAAF;