
.pointer{cursor: pointer;}
.link{
    @include FontStyle(12, 16, 600);
    color: $color-link;
}

// Flex css
.centre-align { @include centre-align; }
.between-align { @include between-align; }

// Text Colors

.primaryLink { color: $color-link; }
.textSecondary{ color: $textSecondary; }
.texGray { color: $color-gray; }
.textPrimary {
    color: $color-primary;
    svg * {
        color: $color-primary;
    }
}
.textverified{ color:$color-link; cursor: pointer; }
.success{ color:$color-success; }
.error{ color:$color-error; }
.textGray { color: $primary-border-grey; }

.textSmall { @include FontStyle(12, 16, 600); }

// Align Text 
.textCenter { text-align: center; }
.textRight { text-align: right; }

// Buttons css
button {
    background: none;
    border: none;
    border-radius: none;
    cursor: pointer;
}
.buttonCommon{
    border-radius: 6px;
    padding: 13px;
    display: block;
    width: 100%;
    @include FontStyle(18,22,700);
    transition: 0.3s ease-in;
    text-align: center;
    @include mediaQuery(767px){
        padding: 10px;
        @include FontStyle(14,14,700);
    }
    &.backround{
        background: linear-gradient(90deg, #36D1DC 0%, #5B86E5 100%);
        color: $color-primary;
        &:hover{
            background: $color-primary;
            color: $color-link;
        }
    }
    &.outlined{
        border: 2px solid $color-link;
        color: $color-link;
    }
    &.errorBtn{
        border: 2px solid $color-error;
        color: $color-error;
        &:hover{
            background: $color-primary;
            color: $primary-background;
            border: 2px solid $color-primary;
        }
    }
}
