button {
    background: none;
    border: none;
    border-radius: none;
    cursor: pointer;
}
.pointer{cursor: pointer;}
.centre-align {
    @include centre-align;
}
.between-align {
    @include between-align;
}
.primaryLink {
    color: $color-link;
}
.textSecondary{
    color: $textSecondary;
}
.textPrimary {
    color: $color-primary;
    svg * {
        color: $color-primary;
    }
}
.textverified{
    color:$color-link;
    cursor: pointer;
}
.success{
    color:$color-success;
}
.error{
    color:$color-error;
}
.textGray {
    color: $primary-border-grey;
}

.textCenter {
    text-align: center;
}