button {
    background: none;
    border: none;
    border-radius: none;
    cursor: pointer;
}

.centre-align {
    @include centre-align;
}

.primaryLink {
    color: $color-link;
}
.textSecondary{
    color: $textSecondary;
}
.between-align {
    @include between-align;
}

.textPrimary {
    color: $color-primary;

    svg * {
        color: $color-primary;
    }
}
.textverified{
    color:$color-link;
    cursor: pointer;
}
.textverifie{
    color:$color-verifie;
    
}
.textnotverified{
    color:$color-notverified;
}
.textGray {
    color: $primary-border-grey;
}

.textCenter {
    text-align: center;
}