@mixin centre-align {
    display: flex;
    justify-content: center; 
    align-items: center;
}

@mixin between-align {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}